<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Hackaton Zenvia</title>
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/icons.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/negocios.css">
</head>

<body id="page-top">

    <!-- Navigation -->


    <!-- Header -->
    <header class="masthead d-flex" style="height: 100vh; color: #F7A541; background-color: #F7A541;">

        <div class="container text-center my-auto">
            <h1 class="mb-1">Cadastro de Empresas</h1>

            <div class="card" style="background-color: transparent; border: none;">
                <div class="card-header" style="background-color: transparent; border: none;">

                </div>
                <div class="card-body">
                    <form action="cadastroEmpresaAutenticada.html" method="GET" class="form-inline" style=" justify-content: center;">

                        <div class="form-group mx-sm-1 mb-2">
                            <input type="number" class="form-control" id="inputCPNJ" placeholder="Digite o CNPJ   ">
                        </div>
                        <button type="submit" class="btn btn-primary mb-2">Confirmar CNPJ</button>
                    </form>

                </div>
            </div>
        </div>

        <div class="overlay"></div>
    </header>







    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <script src="js/scripts.js"></script>

</body>

</html>