<!DOCTYPE html>
<html lang="pt_br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado da pesquisa</title>


    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/negocios.css">

</head>

<body>

    <div id="negocios">

        <header>
            <img src="" alt="Logomarca">
            <a href="index.html">
                <span></span>
                Voltar para a Página Inicial
            </a>
        </header>

        <main>

            <div class="cards">
                <a href="./pizzariamaria.html">
                    <div class="card">

                        <img src="/assets/img/pizza/calabresa.jpg">
                        <h1>Pizzaria da Maria</h1>
                        <h3>Temos Pizzas de todos os sabores, inclusive de chocolate</h3>
                        <p>
                            Rio de Janeiro, Rio de Janeiro <br />
                            <br />

                        </p>
                    </div>
                </a>


                <div class="card">
                    <img src="/assets/img/sorvete.jpg">
                    <h1>Sorveteria do João</h1>
                    <h3>Todos os sabores pelo menor preço</h3>
                    <p>
                        Belo Horizonte, Minas Gerais<br />

                    </p>
                </div>
                <div class="card">
                    <img src="/assets/img/acai.jpg" ">
                    <h1>Açaí Gostoso</h1>
                    <h3>Temos açaí com todo tipo de acompanhamento</h3>
                    <p>
                        <br />
                        Recife, Pernambuco<br />

                    </p>
                </div>
                <div class=" card">
                    <img src="/assets/img/salgado.jpg">
                    <h1>Salgado do José</h1>
                    <h3>Temos açaí com todo tipo de acompanhamento</h3>
                    <p>
                        <br />
                        Recife, Pernambuco<br />

                    </p>
                </div>
            </div>

        </main>


    </div>
</body>

</html>